.DS_Store
*.pdf
*.md5
*.dpth
*.dep
/.vs/
/out/
/vcpkg_installed
/cmake-build-debug-mingw
/cmake-build-debug-visual-studio
/cmake-build-debug-visual-studio-clang
/cmake-build-debug-wsl
/cmake-build-release-mingw
/cmake-build-release-visual-studio
/cmake-build-release-visual-studio-clang
/cmake-build-release-wsl
/build
/dist
/.venv
/.mypy_cache
/.python-version
